In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.svm import SVC

In [12]:
svm_data = pd.read_csv("svm-data.csv", header = None)

In [13]:
svm_data

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

In [40]:
y = svm_data[0]
X = svm_data.loc[:,1:2]

In [41]:
X

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [42]:
clf = SVC(C = 100000, random_state=241)

In [43]:
clf.fit(X, y)

SVC(C=100000, random_state=241)

In [44]:
ans = np.sort(clf.support_+1)

array([ 2,  3,  4,  5,  9, 10])

In [45]:
y

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
7    1.0
8    0.0
9    1.0
Name: 0, dtype: float64